<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */
?>
Der User <strong><?= $this->userName ?></strong> möchte die Stammdaten des Mitarbeiter/Equipment <strong><?= $this->equipmentName ?></strong> ändern.

Zu den <strong><a href="http://<?= $this->appUrl ?>/user-equip/user/<?= $this->equipmentUuid ?>">Mitarbeiter/Equipment Daten</a></strong>.
